body{
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../IMG/back.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}
form{
    width: 450px;
    height: 400px;
    margin-top: 10px;
    border: 3px solid white;
    color: white;
    border-radius: 50px 0 50px 0;
    box-shadow: 3px 3px 3px white;

    
}
input[type="text"], input[type="username"],input[type="password"], 
input[type="email"], input[type="date"]{
    background: none;
    Color: white;
    font-size:14px ;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px black;
    border: 2px solid white;
    height: 30px;
    width: 250px;
    margin-left: 30px;
}
input[type="radio"]{
    margin-top: 10px;
}
input[type="file"]{
    margin-top: 10px;
    margin-left: 20px;
}
input[type="checkbox"]{
    margin-top: 10px;
}
input[type="submit"]{
    margin-top: 10px;
}

.you{
    margin-top:  20px;
    width: 50px;
    background:  #e8491d; 
    margin-right: 20px;

}
h1{
    text-align: center;
    margin-bottom: 10px;
    margin-left: 70px;
    color:  white;
}
.home{
    margin-top: 10px;
    margin-left: 100px;

}
 a{
    text-decoration: none;
    text-align: center;
    color: white;
    

}
.home a{
}
.error{
    color: red;
    font-size: 18px;
}
